* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
}


.header-row {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}

.logo {
    display: flex;
    gap: 41px;
    align-items: baseline;
}

.header-buttons {
    display: flex;
    gap: 33px;
    align-items: baseline;
}

.header-content {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 63px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}
.header-img {
    width: 50%;
}

.header-title {
    display: flex;
    gap: 16px;
}

.title {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    max-width: 377px;
}

.brand {
    font-size: 48px;
    font-weight: 900;
}

.fashion {
    color: #F16D7F;
}

.offer {
    padding-top: 56px;
    padding-bottom: 96px;
}

.offer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.offer-title {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}
.offer-item {
    position: relative;
}
.item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.item-big {
    grid-column: span 3;
}

.product-heading {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.product-title {
    font-size: 30px;
    font-weight: 400;
}

.product-subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.product-content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 30px;
    margin-bottom: 48px;
}

.product-item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
}

a {
    color: #000;
}

.item-title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.item-text {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.item-img {
    display: block;
}

.item-price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}
.browse-btn {
    display: flex;
    justify-content: center;
}

.browse {
    position: relative;
    
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 2rem; 
    margin-bottom: 60px;
    background-color: #fff;
    border: #FF6A6A 1px solid;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }
    .header-content {
        gap: 39px;
    }

    .title {
        font-size: 24px;
    }
    
    .brand {
        font-size: 44px;
    }
    .product-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    
}