* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    color: #000;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-row {
    padding-top: 40px;
    padding-bottom: 84px;
    display: flex;
    justify-content: space-between;
}

.header-label {
    display: flex;
    gap: 14px;
    align-items: center;
}

.header-heading {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.be {
    color: #F25822;
}

.header-menu {
    display: flex;
    gap: 35px;
}

.header__link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.header__link:hover {
    color: #F25822;
}


.top {
    display: flex;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
    font-size: 60px;
    font-weight: 400;
}

.subtitle {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}

.top__buttons {
    display: flex;
    gap: 50px ;
    margin-top: 37px;
}

.button {
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    padding: 1rem 2rem;
}

.button:hover {
    color: #fff;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.top__logos {
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 96px;
}